.App {
  margin: auto;
  width: 92vw;
  font-size: 18px;
}

/* Nav */

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.brand {
  margin-top: 1.5%;
}

.navbar {
  justify-content: flex-end !important;
}

.navbar-nav {
  align-items: center;
  margin: 5px auto;
  font-size: 1.6rem;
}

.accent {
  color: #80ff00;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}

/* Home */

.containers {
  margin-top: 40px;
}

h1,
h2 {
  text-align: center;
  color: whitesmoke;
  font-weight: 500;
  font-size: calc(1.5rem + 0.6vw) !important;
}

h2 {
  margin-bottom: 4%;
}

.active {
  color: #80ff00 !important;
  font-weight: bold;
}

/* Search */

.search {
  text-align: center;
  margin-bottom: 4%;
  color: rgb(255, 255, 255);
}

/* Filter */

.filter {
  color: whitesmoke;
  text-align: center;
}

.clear-btn {
  color: #8fd746;
  margin-top: 3%;
}

.clear-btn:hover {
  background-color: #16161675;
}

.filter-header {
  margin-bottom: 5%;
}

.filter-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 15px;
  column-gap: 15px;
}

span.MuiButtonBase-root {
  display: none;
}

label.MuiFormControlLabel-root {
  margin: 0px;
}

/* Card */

span.MuiBadge-badge {
  font-size: 18px;
  border-radius: 0px;
  padding: 15px 7px;
}

.MuiTypography-h5 {
  text-align: center;
}

/* Pagination */

.pagination {
  margin: 4% 0 2% 0;
  display: block !important;
}

svg.MuiSvgIcon-root {
  color: #8fd746;
}

.MuiTabs-scrollButtons > svg.MuiSvgIcon-root {
  font-size: 30px;
  margin-top: 13px;
}

@media (max-width: 599.95px) {
  .MuiTabs-scrollButtons {
    display: block !important;
  }
}

/* Episodes */
.episode-heading {
  color: white;
  text-align: center;
  margin-bottom: 4%;
}

/* Locations */

.minor-titles {
  display: flex;
  justify-content: space-evenly;
}
