.App {
  margin: 0 2%;
  width: 95%;
}

h1 {
  text-align: center;
  color: whitesmoke;
}

/* .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-1xez8po-MuiPaper-root-MuiCard-root {
  margin: auto;
} */

/* Search */

.search {
  text-align: center;
  margin-bottom: 2%;
  color: rgb(255, 255, 255);
  /* display: grid;
  grid-template-columns: auto auto; */
}

/* .search > input {
  color: whitesmoke;
} */

/* Filter */

.filter {
  color: whitesmoke;
  text-align: center;
}

.filter a {
  color: #8fd746;
  margin-top: 3%;
}

.filter a:hover {
  background-color: #16161675;
}

.filter-header {
  margin-bottom: 5%;
}

.filter-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 15px;
  column-gap: 15px;
  margin: auto;
}

/* Card */

span.MuiBadge-badge {
  font-size: 17px;
  border-radius: 0px;
}

.MuiTypography-h5 {
  text-align: center;
}

/* Pagination */

.pagination {
  margin: 4% 0 2% 0;
}

svg.MuiSvgIcon-root {
  color: #8fd746;
}
